// font-size
$MainFont: 16px;

//color
$ColorBlue: rgb(0,90,255);
$ColorBlack: black;
$ColorWhite: white;
$ColorGray: rgb(150,150,150);
$ColorScorpion:  rgb(89,89,89);
$ColorWhiteSmoke: rgb(245,245,245);


