@import './utils/variable';
@import './utils/mixin';
@import './layout/header';
@import './pages/transporting';
@import './pages/order';
@import './pages/services';
@import './pages/about-us';
@import './pages/calculator';
@import './pages/news';
@import './pages/application';
@import './layout/footer';

*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1300px;
    margin: 0 auto;

    .row{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 1200px) and (min-width:992px){
    .container{

        width: 100%;
    } 
}
@media (max-width:991px) and (min-width:768px){
    .container{
        width: 100%;
    }
}

.col-2{
    width: calc(100%/12*2);
}
.col-sm-2{
    width: calc(100%/12*2);
  }
.col-3{
    width: calc(100%/12*3);
}
.col-4{
    width: calc(100%/12*4);
}
.col-6{
    width: calc(100%/12*6);
}
.col-10{
    width: calc(100%/12*6);
}
.col-12{
    width: calc(100%/12*12);
}