header {
  .site-logo {
    @include flex;

    path {
      display: flex;
    }
    span {
      @include span($ColorBlack);
      a{
              text-decoration: none;
               
      }
    }
  }

  .site-list {
    ul {
      display: flex;
      list-style-type: none;
      margin-top: 7px;
      li {
        margin-right: 25px;
        a {
          text-decoration: none;
          color: $ColorBlack;
          font-size: $MainFont;
          font-family: $roboto;
        }
      }
    }
  }
  .head-btn {
    display: flex;
    justify-content: flex-end;
    .site-btn {
      @include button;
    }
  }
}
@media (max-width: 964px) and (min-width: 768px) {
  .hidden-col {
    display: none;
  }
  .declaration-btn {
    display: none;
  }

  .col-md-6 {
    width: calc(100%/12*6);
  }
  .flex{
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 768px) and (min-width: 500px){

  .hidden-col {
    display: none;
  }
  .declaration-btn {
    display: none;
  }

  .col-md-6 {
    width: calc(100%/12*6);
  }
  .flex{
    display: flex;
    justify-content: flex-end;
  }
}
