#calculator {
  
  .package {
    background-color: $ColorWhiteSmoke;
    width: 650px;
    padding: 38px 38px 32px;
    height: 400px;
    margin-top: 5%;
    margin-left: 24%;
    
   

    .calc-text{
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        width: 645px;
        
        h2{
            font-size: $MainFont*2;
        }
        span{
            font-size: $MainFont;
            color: $ColorBlue;
            align-self: center;
        }
}
.calc-p{
    p{
        font-size: $MainFont;
        margin: 10px 0px;
        width: 635px;
    }
}
    .calc-select{
      
      display: inline;
      select{
        width: 320px;
      @include calc;
      height: 45px;
      }
    }
    .calc-input{
    
      display: inline;
      input{
      width: 306px;
      @include calc;
      }
    }
    .site-btn {
      @include button;
      width: 303px;
      margin-right: 9px;
      border-radius: 5px;
    }
  }

  @media (max-width: 992px) and (min-width: 576px) {
  
    
  
  .package{
    width: 100%;
    
    .calc-select{
      
      display: inline;
      select{
        width: 300px ;
      @include calc;
      height: 45px;
      }
    }
    .calc-input{
    
      display: inline;
      input{
      width: 300px;
      @include calc;
      }
    }
    .site-btn {
      @include button;
      width: 303px;
      margin-right: 9px;
      border-radius: 5px;
      display: flex;
    }

  }
  }

  
}
