#news{
    padding: 60px 0px;
    .news-text{
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        h2{
            font-size: $MainFont*2;
        }
    }
    .news-cards{
        h6{
            font-size: $MainFont+4;
            margin: 8px 0px;
        }
        img{
            height: 216px;
        }
        p{
            margin: 8px 0px;
        }
    }
}